@media screen {

    html,
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: #000000;
        background: linear-gradient(90deg,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 35%,
                rgba(30, 201, 0, 1) 100%);
    }

    a {
        text-decoration: none;
        color: rgb(7, 111, 0);
    }

    select#crupi {
        margin-top: 30px;
    }

    #login p {
        color: white;
    }

    .caja {

        background-color: #ef9b17;
        color: #118ef8;
    }

    .caja .titulo {
        border: thin red solid;
        padding: 3px;
    }

    p#Partidas {
        margin-top: 20px;
        margin-left: 5px;
    }

    .caja .cuerpo {
        border: thin red solid;
        padding: 3px;
        background-color: #ffe3ae;
    }

    div#login {
        display: flex;
        justify-content: space-between;
        background: #000000;
        background: linear-gradient(90deg,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 35%,
                rgba(30, 201, 0, 1) 100%);
        padding: 20px;
        border-radius: 10px;
        align-items: center;
    }

    #login button {
        padding-right: 15px;
        background-color: black;
        border-radius: 20px;
        padding: 10px;
        color: white;
    }

    #login button a {
        color: white;
    }

    #malo {
        width: 200px;
        float: right;
    }

    .barraMenu {
        background: #000000;
        background: linear-gradient(90deg,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 35%,
                rgba(30, 201, 0, 1) 100%);
        border-radius: 10px;
        padding: 1px;
    }

    .barraMenu ul {
        display: flex;
        padding-left: 20px;
    }

    .barraMenu ul li {
        text-decoration: none;
        color: black;
        margin-right: 10px;
        list-style: none;
        color: white;
    }

    .barraMenu ul li a {
        color: white;
    }

    .barraMenu ul p {
        color: white;
        margin-right: 10px;
    }

    #submenu {
        display: flex;
    }

    #submenu ul {
        padding-left: 5px;
        padding-right: 30px;
    }

    #todo {
        width: 90%;
        margin: 0 auto;
        background-color: rgb(205, 205, 205);
        border: 2px solid black;
        border-radius: 10px;
        padding: 20px;
    }

    #ejercicios {
        display: flex;
        list-style: none;
    }

    #ejercicios li {
        padding-right: 15px;
    }

    header {
        min-height: 50px;
        padding-top: 5px;
        border-radius: 15px 15px 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #divLogin {
        border-left: 3px ridge rgb(100, 100, 100);
        border-right: 3px ridge rgb(100, 100, 100);
    }

    #barraLocalizacion {
        border-left: 3px ridge rgb(100, 100, 100);
        border-right: 3px ridge rgb(100, 100, 100);
    }

    #barraLocalizacion {
        background-color: #e7effc;
    }

    /* nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 1.75rem;
        padding: 1rem 0;
        background-color: rgb(191, 230, 248);
    }

    nav a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
    }

    nav a:hover {
        color: rgb(33, 33, 87);
    } */

    header .logo {
        width: 75px;
        height: 75px;
        padding-left: 5px;
    }

    header .logo img {
        width: 75px;
        height: 75px;
    }

    header .titulo {
        padding-left: 5px;
    }

    #barraLogin {
        /*width: 100%;*/
        border-left: 3px rgb(100, 100, 100) solid;
        border-right: 3px rgb(100, 100, 100) solid;
        background: #ededed;
    }

    #barraLogin a {
        text-decoration: none;
    }

    #barraLogin a:active,
    #barraLogin a:focus,
    #barraLogin a:visited {
        text-decoration: none;
    }

    header .titulo a,
    header .titulo a:hover,
    header .titulo a:visited {
        text-decoration: none;
        color: #148700;
    }

    header .titulo a h1 {
        text-shadow: 0px 0px 7px #148700;
    }

    footer {
        border-radius: 0 0 15px 15px;
        padding: 5px 5px;
    }

    footer h2 {
        color: #0b4a00;
    }

    footer h2 span {
        font-size: 1.3rem;
        margin: 0 0.6rem;
    }

    .contenido {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        padding: 0.5rem 0;
    }

    aside {
        background: #e1dfff;
        margin: 5px;
        max-width: 200px;
        border: solid thin black;
        border-radius: 5px;
        flex: 1 1 20%;
    }

    article {
        margin: 5px;
        flex: 1 1 80%;
    }

    aside>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 0.2em;
        display: flex;
        flex-direction: column;
    }

    aside ul li {
        flex: 1 1;
        text-decoration: none;
        list-style-type: none;
        transition: font-size 0.7s;
        color: #092e4e;
    }

    aside ul li:hover {
        font-size: 1.3rem;
        font-weight: bold;
    }

    aside li a {
        display: block;
        text-decoration: none;
        color: #999999;
        text-align: center;
        line-height: 40px;
    }

    aside li a:hover {
        text-decoration: none;
        color: #092e4e;
        background: rgba(255, 255, 255, 0.2);
    }

    aside li a:active,
    aside li a:focus,
    aside li a:visited {
        text-decoration: none;
    }

    p {
        margin: 0px;
        padding: 0px;
    }

    div.flotante {
        float: left;
        min-width: 300px;
        border: 1px solid #999999;
        margin: 3px;
        padding: 5px;
    }

    .error {
        border: red thin solid;
        background-color: #ffb1c7;
        color: red;
        display: inline;
    }

    #logo_pag_error {
        width: 50px;
        height: 50px;
    }

    #mensaje_pag_error {
        font-size: x-large;
    }

    article div.par {
        background-color: #52e0cb;
        color: black;
    }

    article div.impar {
        background-color: blue;
        color: white;
    }

    .pager {
        background-color: white;
        color: black;
    }

    .pager .izq {
        float: left;
        /*width: 40%;*/
        padding-left: 5px;
        color: green;
    }

    .pager .der {
        float: right;
        /*width: 58%;*/
        text-align: right;
        padding-right: 5px;
    }

    .pager .der a {
        text-decoration: none;
        color: green;
    }

    .pager .der a:hover {
        text-decoration: none;
        color: red;
    }

    .pager .final {
        clear: both;
    }

    /*definiciones de tabla para
	 * el objeto CGrid con el estilo
	 * por defecto clase tabla
	 */

    div.tabla {
        width: 100%;
        overflow: auto;
    }

    div.tabla table.tabla {
        background-color: #b6c7cd;
        border-collapse: collapse;
    }

    div.tabla table.tabla th {
        background-color: blue;
        color: white;
    }

    div.tabla table.tabla tr.par {
        background-color: #edd8d8;
        color: black;
    }

    div.tabla table.tabla tr.impar {
        background-color: #f8f0d6;
        color: black;
    }

    div.tabla table.tabla tr td {
        padding: 2px;
    }

    /*
	 * Definiciones de tabla para
	 * el objeto CGrid con estilo 
	 * propio
	 */
    table.tabla1 {
        background-color: #b6c7cd;
        border-collapse: collapse;
    }

    table.tabla1 th {
        background-color: blue;
        color: white;
    }

    table.tabla1 tr.par {
        background-color: #edd8d8;
        color: black;
    }

    table.tabla1 tr.impar {
        background-color: #f8f0d6;
        color: black;
    }

    table.tabla1 tr td {
        padding: 2px;
    }

    /*
	 * Definiciones de estilo para
	 * el objeto CCaja con estilo 
	 * propio
	 */

    .caja {
        background-color: #ef9b17;
        color: #118ef8;
    }

    .caja .titulo {
        border: thin red solid;
        padding: 3px;
    }

    .caja .cuerpo {
        border: thin red solid;
        padding: 3px;
        background-color: #ffe3ae;
    }

    .cimg {
        color: rgb(245, 104, 69);
        background-color: #cfdfee;
        border: 2px solid black;
    }

    .cimg .cimg_tit {
        text-align: center;
        font-weight: bold;
        font-style: italic;
        font-size: medium;
    }

    .parcial {
        border: blue solid thin;
        margin: 5px;
        background-color: lightgray;
    }
}

.misFotos {
    width: 10%;
    height: 10%;
}

@media screen and (max-width: 400px) {
    .contenido {
        flex-direction: column;
    }

    nav {
        max-width: 100%;
    }
}